@model MVC.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="p_emri" class="control-label"></label>
                <input asp-for="p_emri" class="form-control" />
                <span asp-validation-for="p_emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pershkrimi" class="control-label"></label>
                <input asp-for="pershkrimi" class="form-control" />
                <span asp-validation-for="pershkrimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_ID" class="control-label"></label>
                <input asp-for="c_ID" class="form-control" />
                <span asp-validation-for="c_ID" class="text-danger"></span>
            </div>
             <div class="form-group">
                 @Html.DropDownListFor(model => model.Categories,(IEnumerable<SelectListItem>)ViewBag.Categories, new { htmlAttributes = new { @class = "form-group" }})
             </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
